/***Cafe***/

.cafe-page {
    .tangerine-regular {
        font-family: "Tangerine", cursive;
        font-weight: 400;
        font-style: normal;
    }

    .tangerine-bold {
        font-family: "Tangerine", cursive;
        font-weight: 700;
        font-style: normal;
    }

    main {
        background-color: black;
        min-height: 90vh;
        padding-bottom: 3rem;
        margin-bottom: 1.25rem;
        box-shadow: 0px 0px 20px 5px pink inset;
    }

    h1 {
        background-color: black;
        color: white;
        font-family: "Tangerine", cursive;
        font-size: 3rem;
        text-align: center;
        text-shadow: 2px 2px black;
        padding: 1.5rem 0;
        box-shadow: 0px 25px 20px 5px pink inset;
    }

    #menu-container {
        display: flex;
        flex-direction: column;
        background-color: #333;
        width: 85%;
        padding: 1rem 0;
        border-radius: 1em;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 5px 0px pink inset;
        gap: 1rem;
    }

    .menu-category {
        display: flex;
        align-items: center;
        background-color: #555;
        width: 90%;
        height: auto;
        border-radius: 1em;
        margin: 0 auto;
        overflow: auto;
        box-shadow: 0px 0px 10px 0px white inset;
    }

    .menu-category img {
        height: 10vh;
        width: auto;
        box-shadow: 0px 0px 30px 1px white;
    }

    .menu-category h2 {
        font-family: 'Trebuchet MS', Arial, sans-serif;
        font-weight: lighter;
        font-size: 1rem;
        text-shadow: 2px 2px black;
        color: white;
        padding-left: 1.25em;
    }

    @media all and (min-width: 768px) {
        #menu-container {
            width: 90%
        }
    }
}