/*****Gallery*****/

.gallery-page {
    background-color: black;

    #highlight-container {
        position: relative;
        background-color: black;
        padding-top: 1rem;
    }

    #gallery-highlight {
        display: block;
        max-width: 95vw;
        max-height: 80vh;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
    }

    #gallery-caption {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.5rem;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1rem;
        width: 100%;
        max-width: 95vw;
    }

    #thumbnails-container {
        width: 95vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 1rem 0rem 2.5rem 0rem;
        margin: auto;
        row-gap: .5rem;
    }

    .gallery-thumbnails {
        width: 30vw;
    }

    .gallery-thumbnails:hover {
        cursor: pointer;
        filter: brightness(70%);
    }
}