/***Visit***/

.visit-page {
    background-image: url(../images/gallery-ceremonial-1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    main {
        padding: .5rem 0 2rem 0;
    }

    #intro-section {
        background-color: oldlace;
        overflow: auto;
        width: 90%;
        height: auto;
        padding: .5rem;
        border-radius: .4em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .6rem;
    }

    #intro-section h1 {
        background-color: maroon;
        color: white;
        font-size: 1.25rem;
        text-align: center;
        padding: .3rem;
        border-radius: .4em;
        margin-bottom: .5rem;
    }

    #intro-section p {
        font-size: 1rem;
        padding: .3rem;
        text-align: center;
    }

    section {
        background-color: oldlace;
        overflow: auto;
        width: 90%;
        height: auto;
        padding: .5rem .5rem .8rem .5rem;
        border-radius: .4rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .6rem;
    }

    section h2 {
        background-color: maroon;
        color: white;
        font-size: 1.25rem;
        text-align: center;
        padding: .3rem;
        border-radius: .4em;
        margin-bottom: .5rem;
    }

    section img {
        float: left;
        width: 100%;
        height: auto;
        border-radius: .4em;
    }

    section p {
        clear: both;
        font-size: 1rem;
        padding: .3rem;
    }

    @media all and (min-width: 768px) {
        #intro-section img {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        section h2 {
            float: right;
            width: 48%;
        }

        section img {
            width: 50%;
            float: left;
        }

        section p {
            clear: none;
            float: right;
            width: 48%;
        }
    }

    @media all and (min-width: 992px) {
        #intro-section {
            padding-bottom: 1rem;
        }

        #intro-section h1 {
            font-size: 1.5rem;
        }

        section h2 {
            width: 68%;
            font-size: 1.5rem;
        }

        section img {
            width: 30%;
        }

        section p {
            width: 68%;
        }
    }
}