#calendar-container {
    height: 55vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    text-align: center;
    padding-top: 1rem;
}
.date-box {
    justify-self: center stretch;
    overflow: hidden;
    cursor: pointer;
}
.month-row {
    font-weight: bold;
}
#left-arrow {
    grid-column: 1 / 2;
    cursor: pointer;
}
#month-year-name {
    font-size: 1.2rem;
    grid-column: 2 / 7;
}
#right-arrow {
    grid-column: 7 / 8;
    cursor: pointer;
}
.week-row {
    font-weight: bold;
}
.date {
    color: black;
    font-weight: bold;
}
.overflow-date {
    opacity: 30%;
}
.event {
    font-size: .75rem;
}
.event-details {
    font-size: .7rem;
}
.current-day {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: fit-content;
    padding: 0 .4rem .2rem .4rem;
    margin-left: auto;
    margin-right: auto;
}
#details-container {
}
@media all and (min-width: 768px) {
    #calendar-container {
        height: 70vh;
        padding-top: 2rem;
    }
}