body {
    background-image: url(../images/gallery-zen-1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;}
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
}
.title {
    background-color: oldlace;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 85vw;
    padding: .5rem 0 0 0;
    border-top: 1rem solid maroon;
    margin: 0 auto;
}
h1 {
    width: 90%;
    font-size: 1rem;
}
h2 {
    width: 90%;
    font-size: 1.5rem;
}
p {
    width: 90%;
    font-size: 1rem;
}
form {
    background-color: oldlace;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 35vh;
    width: 85vw;
    margin: 0 auto 0 auto;
}
.input-container {
    width: 90%;
    text-align: center;
}
label {
    align-self: left;
}
.hidden-label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
input {
    margin: .2rem;
    border: 2px inset;
    border-radius: 5%;
}
button {
    padding: .5rem;
    box-shadow: 1px 1px 2px;
}
@media all and (min-width: 768px) {
    main {
        justify-content: center;
        height: 70vh;
        margin-top: 0;
    }
    .title {
        max-width: 70vw;
    }
    h2 {
        font-size: 2rem;
    }
    form {
        max-width: 70vw;
    }
}