<ul>
	<li>📱 (123) 456-7890</li>
	<li>🕒 Open Daily: 10a-7p</li>
	<li>📧 questions@localgardens.com</li>
	<ul>
		<a href="#"><img src="https://img.icons8.com/?size=100&id=118497&format=png&color=000000" height="20"
				alt="Facebook"></a>
		<a href="#"><img src="https://img.icons8.com/?size=100&id=32323&format=png&color=000000" height="20"
				alt="Instagram"></a>
		<a href="#"><img src="https://img.icons8.com/?size=100&id=ClbD5JTFM7FA&format=png&color=000000" height="20"
				alt="X/Twitter"></a>
	</ul>
</ul>