<a href="./index.html"><img src="./images/logo-transparent.webp" class="nav-logo" alt="logo"></a>
<ul>
  <li><a href="./index.html">Home</a></li>
  <li><a href="#" style="color:gray;">Visit Us</a></li>
  <li><a href="#" style="color:gray;">Calendar</a></li>
  <li><a href="./signup.html">Memberships</a></li>
  <li><a href="#" style="color:gray;">Weddings</a></li>
  <li><a href="#" style="color:gray;">Volunteer</a></li>
  <li><a href="#" style="color:gray;">Cafe</a></li>
  <li><a href="./gallery.html">Gallery</a></li>
</ul>